body {
  margin: 0;
  padding: 0;
  color: #555;
  font: normal 10pt Arial, Helvetica, sans-serif;
  background: #ababab;
}
body .container {
  width: 950px;
  margin: auto;
  display: block;
  border: 3px solid #1c1c1c;
}
body .container .header {
  margin: 0;
  padding: 0;
  background-color: #ddeaef;
}
body .container .header h1 {
  margin: 0;
  padding: 10px 20px;
  border-bottom: 2px solid black;
  font-size: 200%;
}
body .container .nav {
  background-color: #e52626;
  border-bottom: 2px solid black;
}
body .container .nav ul {
  padding: 6px 20px 5px 20px;
  margin: 0;
}
body .container .nav ul li {
  display: inline;
}
body .container .nav ul li a {
  padding: 5px 8px;
  text-decoration: none;
  color: white;
}
body .container .content {
  background-color: #c2c4fa;
}
body .container .content .timer {
  height: 300px;
  width: 100%;
}
body .container .content .timer .timer_panel {
  width: 100%;
}
body .container .content .timer .timer_panel th {
  height: 50px;
  font-size: 200%;
}
body .container .content .timer .timer_panel td {
  text-align: center;
}
body .container .content .timer .timer_panel td input {
  background-color: gray;
  height: 223px;
  width: 223px;
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  border: 3px solid black;
}
body .container .content .button-panel {
  height: 90px;
  position: relative;
  margin-top: 40px;
  margin-left: 250px;
  margin-bottom: 30px;
  /*text-align: center;*/
}
body .container .content .button-panel .start-button {
  background-color: #118811;
  width: 220px;
  height: 75px;
  border: 4px black solid;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  color: black;
}
body .container .content .button-panel .start-button:hover {
  background-color: #1FBC1F;
}
body .container .content .button-panel .reset-button {
  background-color: #333333;
  width: 220px;
  height: 75px;
  border: 4px black solid;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #b6b6b6;
}
body .container .content .button-panel .reset-button:hover {
  background-color: #4D4D4D;
}
body .container .content .button-panel .pause-button {
  position: relative;
  left: -224px;
  visibility: hidden;
  background-color: chocolate;
  width: 220px;
  height: 75px;
  border: 4px black solid;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  color: black;
}
body .container .content .button-panel .pause-button:hover {
  background-color: #ee7f31;
}
body .container .content .button-panel .resume-button {
  position: relative;
  left: 223px;
  top: -74px;
  visibility: hidden;
  background-color: #175eb7;
  width: 220px;
  height: 75px;
  border: 4px black solid;
  border-radius: 10px;
  font-size: 27px;
  font-weight: bold;
  color: black;
}
body .container .content .button-panel .resume-button:hover {
  background-color: #2C89CB;
}
body .container .content .fast-timer-panel {
  background-color: #3f7dc5;
}
body .container .content .fast-timer-panel h2 {
  margin: 0;
  padding: 10px 20px;
  color: #e7e4e4;
  background-color: #0f5cb9;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
body .container .content .fast-timer-panel .fast-timer-button {
  margin-left: 40px;
}
body .container .content .fast-timer-panel .fast-timer-button .fast-button {
  height: 90px;
  margin: 40px;
  background-color: darkorange;
  border: 4px black solid;
  border-radius: 10px;
  font-size: 27px;
  font-weight: bold;
}
body .container .content .fast-timer-panel .fast-timer-button .fast-button:hover {
  background-color: #ffac44;
}
body .container .content .audio-setting-panel {
  background-color: #232323;
}
body .container .content .audio-setting-panel h2 {
  margin: 0;
  padding: 10px 20px;
  color: #e7e4e4;
  background-color: black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
body .container .content .audio-setting-panel .audio-setting-button {
  text-align: center;
}
body .container .content .audio-setting-panel .audio-setting-button .audio-button {
  height: 90px;
  width: 100px;
  margin: 40px;
  background-color: green;
  border: 4px black solid;
  border-radius: 10px;
  font-size: 27px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
