
body {
  margin: 0;
  padding: 0;
  color: #555;
  font: normal 10pt Arial,Helvetica,sans-serif;
  background: #EFEFEF;

  .container {
    width: 950px;
    margin: auto; // Равный отступ от краёв
    display: block;
    background-color: blue;

    .header {
      margin: 0;
      padding: 0;
      border-top: 3px solid #C9E0ED;
      background-color: white;

      h1 {
        margin: 0;
        padding: 10px 20px;
        font-size: 200%;
      }
    }

    .nav {
      background-color: cornflowerblue;

      ul {
        padding: 6px 20px 5px 20px;
        margin: 0;

        li {
          display: inline; //элементы списка в линию

          a {
            padding: 5px 8px;
            text-decoration: none;
            color: white;
          }
        }
      }
    }

    .content {
      background-color: #c2c4fa;

      .timer {
        height: 300px;
        width: 100%;

        .timer_panel {
          width: 100%;

          th {
            height: 50px;
          }

          td {
            text-align: center;

            input {
              height: 223px;
              width: 223px;
              text-align: center;
              font-size: 200px;
              font-weight: bold;
            }
          }
        }
      }

      .button-panel {
        text-align: center;

        .timer-button {
          background-color: #118811;
          width: 220px;
          height: 75px;
          border: 5px black solid;
          border-radius: 10px;
          font-size: 40px;
          font-weight: bold;
          color: black;
        }
      }
    }
  }
}
